.cabecalho{
    background-color: var(--preto);
    display: flex;
    justify-content: center;
    padding: 1.1em 2em;
    align-items: center;
    text-decoration: none;
}

.cabecalho img {
    display: none;
}

@media (min-width: 760px) {
    .cabecalho{
        padding: 1.1em 8em;
        justify-content: space-between;
    }   
    .cabecalho img {
        display: block;
    }
}

@media (min-width: 1440px) {
    .cabecalho{
        padding: 1.1em 20em;;
    }   
}